<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
		    
<!-- namespace의 값은 사용할 DAO의 풀패키지명 -->
 <mapper namespace="com.iu.start.test.members.BankMembersDAO">
 <!-- id는 DAO의 메서드명과 동일하게 -->
 	<select id="getLogin" parameterType="com.iu.start.test.members.BankMembersDTO" resultType="com.iu.start.test.members.BankMembersDTO">
 		SELECT USERNAME, NAME FROM MEMBERS WHERE USERNAME =#{username} AND PASSWORD =#{password}
 	</select>
 	
 	<select id="getSearchById" parameterType="com.iu.start.test.members.BankMembersDTO" resultType="com.iu.start.test.members.BankMembersDTO">
 		SELECT * FROM MEMBERS WHERE USERNAME LIKE ? ORDER BY USERNAME ASC
 	</select>
 
 </mapper>